<%- include('partials/header') %> 

<div class="container text-center"> 
  <div class="mb-4">
    <h1>Blog Homepage</h1>
  </div>  
  <div class="row">
    <% blogs.forEach(blog => { %>
    <div class="card col-sm-6 mb-5 col-md-5 ml-auto mr-auto" style="width: 18rem;">
        <img src="<%= blog.image %>" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text"><%= blog.body.substring(0,30) %>....</p>
          <p class="card-text"><small class="text-muted"><%= blog.created.toDateString() %></small></p>
        </div>
        <div class="mb-2">
          <a href="/blogs/<%= blog._id %>" class="btn btn-primary btn-block">Read More</a>
        </div>
      </div>
    <% }); %>
  </div> 
  </div>
</div>

<%- include('partials/footer') %> 